@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap);
/* HEADER */

#logo-login {
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0 0 4px var(--color-white-90));
    transition: all 0.3s ease;
}

#logo-login:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 4px var(--color-danger));
}

@media (max-width: 970px) {
    #logo-login:hover {
        width: 2.9rem;
        height: 2.9rem;
        transform: scale(1.0);
        filter: drop-shadow(0 0 4px var(--color-white-90));
    }
}

#navbar-dashboard {
    background-color: var(--color-dashboard-header-background) !important;
    color: var(--color-dashboard-header-background) !important;
    border: none;

}

#navbar-dropdown{
    background-color: var(--color-dashboard-header-background) !important;
}
#link-header{
    color:var( --color-dashboard-header-text) !important; 
}
#botao-usuario{
    color: var(--color-dashboard-header-text) !important; 
    background-color: var(--color-dashboard-header-background) !important; 
    border-color : var(--color-dashboard-header-background) !important; 
}
/* HEADER */

/* BANNER */
#banner{
    background-color: var(--color-dashboard-banners-background) !important;
    
}
#banner-text{
    color: var(--color-dashboard-banners-text) !important;
}
/* BANNER */

